<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Website" value="http://qa.yotec.net/"/>
    <add key="PageLoadTimeout" value="45"/>
    <add key="ImplicitElementLoadTimeout" value="0"/>
    <add key="ExplicitElementLoadTimeout" value="45"/>
    <add key ="ScreenShotsPath" value="..\..\/TestResults\failedScreenShots\"/>
  </appSettings>
</configuration>